# Default ignored files
/shelf/
/workspace.xml
/node_modules
/README.md
/.idea
/users/resources.json
/users.db
/index.js
/src/db/database.js
/src/routers/userRoutes.js
/src/services/services.js
/src/types/usersType.js
# Editor-based HTTP Client requests
/httpRequests/
